{% assign links = linklists['main-menu'].links %}
<!-- DESKTOP MENU -->
<div class="hidden lg:flex items-center justify-between space-x-10 py-4 {{ invert_class }}">
  <div class="flex flex-row space-x-8">
    {% for link in links %}
      {% if forloop.index <= 3 %}
        {% if link.links != blank %}
          {% render 'dropdown-menu-link', link: link %}
        {% else %}
          {% render 'menu-link', link: link %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>

  <!-- LOGO -->
  <div>
    <a href="{{ routes.root_url }}">
      <img
        src="{{ shop.brand.logo | image_url }}"
        alt="{{ shop.name }} logo"
        height="1024"
        width="1024"
        class="w-58 h-18 cursor-pointer"
      >
    </a>
  </div>

  <div class="flex space-x-8">
    {% for link in links %}
      {% if forloop.index > 3 %}
        {% if link.links != blank %}
          {% render 'dropdown-menu-link', link: link %}
        {% else %}
          {% render 'menu-link', link: link %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% render 'menu-language' %}
    {% render 'cart-counter' %}
  </div>
</div>

<!-- MOBILE MENU -->
<div>
  <div
    id="menu-header"
    class="lg:hidden flex items-center justify-between py-4 w-full relative z-50 "
    :class="open ? 'bg-white delay-300' : ''"
  >
    <button
      x-on:click="open = !open"
      type="button"
      aria-label="Toggle mobile menu"
      aria-controls="mobile-menu"
      :aria-expanded="open.toString()"
      class="flex items-center justify-left cursor-pointer z-2 w-1/7"
    >
      <span class="{{ invert_class }}" x-show="!open">{% render 'icon-mobile-menu' %}</span>
      <span x-show="open">{% render 'icon-mobile-menu-close' %}</span>
    </button>

    <div class="flex items-center justify-center z-2 w-5/7">
      <a href="{{ routes.root_url }}">
        <img
          src="{{ shop.brand.logo | image_url }}"
          alt="{{ shop.name }} logo"
          height="1024"
          width="1024"
          :class="open ? 'invert' : ''"
          class="{{ invert_class }} w-48 cursor-pointer"
        >
      </a>
    </div>
    {% if template.name == 'cart'
      or template.name == 'product'
      or template.name == '404'
      or page.metafields.custom.navigation_style == 'dark'
    %}
      {% render 'cart-counter-dark' %}
    {% else %}
      {% render 'cart-counter' %}
    {% endif %}
  </div>
  <div
    id="mobile-menu"
    x-show="open"
    x-transition:enter="transition-all duration-300 ease-out"
    x-transition:enter-start="-translate-x-full opacity-0"
    x-transition:enter-end="translate-x-0 opacity-100"
    x-transition:leave="transition-all duration-300 ease-in"
    x-transition:leave-start="translate-x-0 opacity-100"
    x-transition:leave-end="-translate-x-full opacity-0"
    class="
      bg-white text-black fixed inset-0 h-screen z-0 lg:hidden
      flex flex-col items-stretch justify-start
      overflow-y-auto overscroll-contain
    "
  >
    <div class="flex flex-col gap-4 w-full p-6 mt-24 items-center">
      {% for link in links %}
        {% if link.links != blank %}
          {% render 'dropdown-menu-link', link: link, mobile: true %}
        {% else %}
          {% render 'menu-link', link: link %}
        {% endif %}
      {% endfor %}
      {% render 'menu-language', mobile: true %}
    </div>
  </div>
</div>
