<!-- Pagination -->
<div x-ref="pagination">
  {% if paginate.pages > 1 %}
    <div
      class="flex flex-row justify-center mt-8"
      :class="{ 'opacity-30 pointer-events-none': loading }"
    >
      <nav class="flex justify-center items-center py-12 space-x-2 sm:space-x-4" role="navigation">
        {%- comment -%} Previous Link {%- endcomment -%}
        {% if paginate.previous %}
          <a
            class="bg-(--color-brand-secondary)-opacity px-4 py-3 rounded-xl hover:bg-(--color-brand-primary) hover:text-white transition-all duration-200 pagination-link"
            href="{{ paginate.previous.url }}"
          >
            &laquo;
          </a>
        {% endif %}

        {%- comment -%}
          Custom Pagination Logic:
          Shows a maximum of 3 numbered buttons, centered on the current page.
        {%- endcomment -%}
        {%- assign first_page_to_show = paginate.current_page | minus: 1 -%}
        {%- assign last_page_to_show = paginate.current_page | plus: 1 -%}

        {%- if paginate.current_page == 1 -%}
          {%- assign first_page_to_show = 1 -%}
          {%- assign last_page_to_show = 3 -%}
        {%- endif -%}

        {%- if paginate.current_page == paginate.pages -%}
          {%- assign first_page_to_show = paginate.pages | minus: 2 -%}
          {%- assign last_page_to_show = paginate.pages -%}
        {%- endif -%}

        {% for i in (first_page_to_show..last_page_to_show) %}
          {%- if i < 1 %}{% continue %}{% endif -%}
          {%- if i > paginate.pages %}{% break %}{% endif -%}

          {% if i == paginate.current_page %}
            <span class="bg-(--color-brand-secondary) px-4 sm:px-6 py-3 rounded-xl transition-all duration-200">
              {{ i }}
            </span>
          {% else %}
            <a
              class="bg-(--color-brand-secondary)-opacity px-4 sm:px-6 py-3 rounded-xl transition-all duration-200 hover:bg-(--color-brand-primary) hover:text-white pagination-link"
              href="{{ collection.url }}?page={{ i }}"
            >
              {{ i }}
            </a>
          {% endif %}
        {% endfor %}

        {%- comment -%} Next Link {%- endcomment -%}
        {% if paginate.next %}
          <a
            class="bg-(--color-brand-secondary)-opacity px-4 py-3 rounded-xl hover:bg-(--color-brand-primary) hover:text-white transition-all duration-200 pagination-link"
            href="{{ paginate.next.url }}"
          >
            &raquo;
          </a>
        {% endif %}
      </nav>
    </div>
  {% endif %}
</div>
