{%- assign disclaimer = disclaimer | default: '' -%}
{%- assign show_headers = show_headers | default: true -%}

{%- assign services = services | default: section.blocks -%}
<div class="space-y-2 mb-6 md:my-12">
  {%- assign service_blocks = services | where: 'type', 'service' -%}
  {%- if service_blocks.size > 0 -%}
    <div class="grid grid-cols-6 font-bold items-center py-2 border-b-2 border-sp-light-brown">
      <div class="col-span-3 text-left text-base">{{ 'general.procedure_table.procedure' | t }}</div>
      <div class="col-span-1 text-right text-base">{{ 'general.procedure_table.duration' | t }}</div>
      <div class="col-span-2 text-right">{{ 'general.procedure_table.price' | t }}</div>
    </div>
    {%- for b in service_blocks -%}
      <div class="grid grid-cols-6 font-bold items-center py-2 border-b border-sp-light-brown border-dotted">
        <div class="col-span-3 text-left text-base">{{ b.settings.service_name }}</div>
        <div class="col-span-1 text-right text-base text-gray-500">
          {{ b.settings.service_length | default: '60' }} min
        </div>
        <div class="col-span-2 text-right text-base">{{ b.settings.service_price }}</div>
      </div>
    {%- endfor -%}
  {%- else -%}
    <div class="py-4 text-center text-gray-500 text-sm">{{ 'general.procedure_table.no_services' | t }}</div>
  {%- endif -%}
  {%- if disclaimer != blank -%}
    <p class="text-gray-500 mt-6">{{ disclaimer }}</p>
  {%- endif -%}
</div>
