<div class="transition-transform duration-300 ease-in-out hover:scale-105 cursor-pointer">
  {% if product.featured_image %}
    {% render 'image',
      image: product.featured_image,
      width: 300,
      height: 300,
      url: product.url,
      class: 'h-full object-bottom object-cover'
    %}
  {% endif %}
</div>
<div class="flex flex-col space-y-3 items-center justify-center">
  <h3 class="body-font text-center text-xs sm:text-sm xl:text-base xl:px-6 font-bold">
    {{ product.title | escape | link_to: product.url }}
  </h3>
  <p class="text-xs sm:text-sm">{{ product.price | money }}</p>
  {%- comment -%} Renders the product's standard category {%- endcomment -%}
  {%- if product.category -%}
    <p class="text-sm text-gray-600">{{ product.category.name }}</p>
  {%- endif -%}
  <form class="w-full" action="{{ routes.cart_add_url }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
    {% if product.available %}
      <button
        type="submit"
        class="w-full rounded-full bg-sp-light-brown py-2 uppercase cursor-pointer hover:bg-sp-brown hover:text-white duration-300 transform-all text-xs sm:text-sm xl:text-base"
        :disabled="loading"
      >
        {{ 'products.add_to_cart' | t | default: 'Add to Cart' }}
      </button>
    {% else %}
      <button
        type="button"
        disabled
        class="w-full rounded-full bg-sp-light-brown-opacity py-2 uppercase text-xs sm:text-sm xl:text-base"
      >
        {{ 'products.sold_out' | t | default: 'Sold Out' }}
      </button>
    {% endif %}
  </form>
</div>
