<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Load and preload the critical CSS %}
    {{ 'application.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- Carousel -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.css"
    >
    <!-- Carousel Dots -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.dots.css"
    >
    <!-- Carousel Autoplay -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.autoplay.css"
    >

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    <!-- Redirect for policy pages -->
    <script src="{{ 'policy-redirect.js' | asset_url }}" defer></script>

    <script defer src="{{ 'application.js' | asset_url }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.dots.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.autoplay.umd.js"></script>

    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>

  <body>
    {% sections 'header-group' %}

    <main>
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
