<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Load and preload the critical CSS %}

    {{ 'application.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- Carousel -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.css"
    >
    <!-- Carousel Dots -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.dots.css"
    >
    <!-- Carousel Autoplay -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.autoplay.css"
    >
    <!-- Carousel Arrows -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.arrows.css"
    >

    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | image_url: width: 180, height: 180 }}">
    {% endif %}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    <!-- Redirect for policy pages -->
    <script src="{{ 'policy-redirect.js' | asset_url }}" defer></script>

    <script defer src="{{ 'application.js' | asset_url }}"></script>
    {% comment %} <script defer src="{{ 'ajax-add-to-cart.js' | asset_url }}"></script> {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.dots.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.autoplay.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.lazyload.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/carousel/carousel.arrows.umd.js"></script>

    <style>
      [x-cloak] {
        display: none !important;
      }
      :root {
        --color-brand-primary: {{ shop.brand.colors.primary[0].background }};
        --color-brand-secondary: {{ shop.brand.colors.secondary[0].background }};
        --color-brand-secondary-light: {{ shop.brand.colors.secondary[1].background }}
      }
    </style>
  </head>

  <body>
    {% sections 'header-group' %}

    <main>
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
