{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="container mx-auto px-4 pb-12 transition-hide text-center md:text-left">
  <h2 class="pb-6 md:pb-12">{{ section.settings.heading }}</h2>

  <div class="collection-products">
    {% paginate collection.products by 12 %}
      {% for product in collection.products %}
        <a href="{{ product.url }}">
          <div class="collection-product">
            {% if product.featured_image %}
              {% render 'image',
                class: 'collection-product__image',
                image: product.featured_image,
                url: product.url,
                width: 400,
                height: 400,
                crop: 'center'
              %}
            {% endif %}
            <div class="collection-product__content">
              <p>{{ product.title | escape | link_to: product.url }}</p>
              <p>{{ product.price | money }}</p>
            </div>
          </div>
        </a>
      {% endfor %}

      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</div>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": [{ "type": "text", "id": "heading", "label": "Virsraksts", "default": "Kategorijas" }],
  "presets": [{ "name": "Produkti" }]
}
{% endschema %}
