<footer class="bg-black text-white py-12 md:py-24">
  <div class="container mx-auto flex flex-col justify-between px-8 md:px-4 pb-12 gap-12 sm:grid sm:grid-cols-2 md:grid-cols-3 lg:flex lg:flex-row text-white">
    <div class="order-5 md:order-4 lg:order-1 md:col-span-2">
      <div>
        <img
          src="{{ "skin-profile-logo-white.svg" | asset_url }}"
          alt="{{ shop.name }} logo"
          height="1024"
          width="1024"
          class="w-58 h-18 mb-6"
        >
        <div class="flex space-x-12">
          <img
            src="{{ "finanse_eiropas_savieniba.png" | file_url }}"
            alt="Finansē Eiropas Savienība"
            class="h-36 w-auto invert"
            width="540"
            height="540"
          >
          <img
            src="{{ "nacionalais_attistibas_fonds.png" | file_url }}"
            alt="Nacionālais attīstības fonds"
            class="h-36 w-auto invert"
            width="540"
            height="540"
          >
        </div>
      </div>
    </div>
    <div class="order-1 lg:order-2">
      <h3 class="text-2xl capitalize text-white pb-2">Menu</h3>
      <ul class="list-none space-y-2">
        {% assign links = linklists['main-menu'].links %}
        {% for link in links %}
          <li>
            {% render 'menu-link', link: link %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="order-2 sm:order-3">
      <h3 class="text-2xl capitalize text-white pb-2">Informācija</h3>
      {% assign links = linklists['information-menu'].links %}
      <ul class="list-none space-y-2">
        {% for link in links %}
          <li>
            {% render 'menu-link', link: link %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="order-3 sm:order-2 lg:order-4">
      <h3 class="text-2xl capitalize text-white pb-2">Kontakti</h3>
      <ul class="list-none space-y-2">
        <li>
          <a
            href="tel+37127841111"
            class="lg:text-white py-2 border-1 border-transparent hover:border-b-white transition-all duration-300"
          >
            +371 27841111
          </a>
        </li>
        <li>
          <a
            href="mailto:toskinprofile@gmail.com"
            class="lg:text-white py-2 border-1 border-transparent hover:border-b-white transition-all duration-300"
          >
            toskinprofile@gmail.com
          </a>
        </li>
        <li>
          <a
            href="https://maps.app.goo.gl/5EYTtEjfUguVUWAfA"
            class="lg:text-white py-2 border-1 border-transparent hover:border-b-white transition-all duration-300"
            target="_blank"
            >Pils iela 13, Sigulda, Latvija</a
          >
        </li>
      </ul>
    </div>
    <div class="order-4 lg:order-5">
      <h3 class="text-2xl capitalize text-white pb-2">Pieseko</h3>
      <div class="flex flex-row fill-white space-x-6">
        {% render 'icon-facebook' %}
        {% render 'icon-instagram' %}
      </div>
    </div>
  </div>

  <p class="text-white container flex md:justify-center lg:justify-end mx-auto px-8 space-x-2">
    &copy;
    {{ 'now' | date: '%Y' }}
    {{ shop.name }} - Visas tiesības rezervētas
  </p>
</footer>
{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
