<script>
  document.addEventListener('DOMContentLoaded', function () {
    const carousel = Carousel(document.getElementById('categoryCarousel'), {
      fill: true,
      infinite: false,
      plugins: [window.Dots],
    }).init();
  });
</script>

<div class="container mx-auto px-4 pb-12 transition-hide text-center md:text-left">
  <h2 class="pb-6 md:pb-12">{{ section.settings.heading }}</h2>
  <div>
    <div class="f-carousel pb-6 md:pb-12" id="categoryCarousel">
      {% for block in section.blocks %}
        <div class="f-carousel__slide h-full rounded-4xl">
          <a href="{{ block.settings.url }}" aria-label="{{ block.settings.name | escape }}">
            {% if block.settings.photo %}
              <div class="relative overflow-hidden h-108 rounded-3xl cursor-pointer flex items-center justify-center group">
                <img
                  src="{{ block.settings.photo | image_url }}"
                  alt="{{ block.settings.name | escape }}"
                  width="1080"
                  height="1920"
                  loading="lazy"
                  class="h-108 w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
                >
                <div class="absolute inset-0 bg-black/30 w-full flex items-center justify-center px-4">
                  <h3 class="text-white text-xl body-font md:text-2xl 2xl:text-3xl px-6 leading-tight text-center w-full break-words line-clamp-2">
                    {{ block.settings.name }}
                  </h3>
                </div>
              </div>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Veikala kategoriju sadaļa",
  "settings": [{ "type": "text", "id": "heading", "label": "Virsraksts", "default": "Kategorijas" }],
  "blocks": [
    {
      "type": "service",
      "name": "Kategorija",
      "settings": [
        { "type": "image_picker", "id": "photo", "label": "Attēls" },
        { "type": "text", "id": "name", "label": "Nosaukums" },
        { "type": "url", "id": "url", "label": "Saite" }
      ]
    }
  ],
  "presets": [{ "name": "Veikala kategoriju sadaļa" }]
}
{% endschema %}
