<script src="{{ 'header-carousel.js' | asset_url}}" defer></script>
<div
  class="home-introduction relative flex justify-center min-h-screen {% if section.settings.spacing %} mb-12 {% endif %}"
>
  <div class="absolute inset-0">
    <div class="f-carousel" id="header-carousel">
      {% for block in section.blocks %}
        {% if block.settings.image %}
          <div class="f-carousel__slide relative w-full">
            <div
              class="absolute inset-0 z-0"
              style="background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);"
            ></div>
            <img
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.alt_text | escape }}"
              class="w-full h-screen object-cover object-bottom-right"
              width=""
              height=""
              loading="lazy"
            >
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container mx-auto px-4 sm:px-6 h-full flex relative z-2">
    <div class="flex flex-col justify-center h-screen md:w-3/5 lg:items-start">
      <div class="space-y-6">
        <h1 class="flex md:leading-18 text-white">
          {{ section.settings.heading }}
        </h1>
        <div class="text-white prose prose-invert space-y-2">
          {{ section.settings.subtext }}
        </div>
        <div class="flex flex-col gap-4 w-full">
          {% for block in section.blocks %}
            {% if block.type == 'button' %}
              <div class="flex justify-start w-full">
                {% case block.settings.style %}
                  {% when 'white' %}
                    {% render 'btn-white', text: block.settings.text, url: block.settings.url %}
                  {% when 'brown' %}
                    {% render 'btn-brown', text: block.settings.text, url: block.settings.url %}
                  {% when 'ai' %}
                    {% render 'btn-brown-ai', text: block.settings.text, url: block.settings.url %}
                {% endcase %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Galvene ar karuseli",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Virsraksts",
      "default": "Medicīniskā estētika, lāzerdermatoloģija, dermatoloģija"
    },
    {
      "type": "richtext",
      "id": "subtext",
      "label": "Teksts",
      "default": "<p>Mūsdienīgs dermatoloģijas un estētiskās medicīnas centrs Siguldā – ar jaunākajām tehnoloģijām, profesionālu aprūpi un individuālu pieeju katram pacientam.</p>"
    },
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "Ielikt atstarpi starp galveni un saturu",
      "default": false
    },
    { "type": "header", "content": "Sociālo ikonu saites" },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Tālruņa numurs",
      "info": "Tiks izmantots tel: saitē (piem: +37126123456)."
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "E-pasts",
      "info": "Tiks izmantots mailto: saitē (piem: info@example.com)."
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook saite"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram saite"
    },
    {
      "type": "url",
      "id": "booking_url",
      "label": "Booking saite"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Bilde",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Bilde"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt teksts",
          "info": "Apraksts attēlam (svarīgi pieejamībai un SEO)"
        }
      ]
    },
    {
      "type": "button",
      "name": "Poga",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Uzzināt vairāk",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Pogas veids",
          "options": [
            { "value": "white", "label": "Balta" },
            { "value": "brown", "label": "Brūna" },
            { "value": "ai", "label": "AI" }
          ],
          "default": "white"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Galvenes sadaļa ar karuseli",
      "blocks": [
        { "type": "button", "settings": { "text": "Pakalpojumi", "url": "/pages/services", "style": "white" } },
        { "type": "button", "settings": { "text": "Virtuālais konsultants", "url": "#", "style": "brown" } }
      ]
    }
  ]
}
{% endschema %}
