<script src="{{ 'services-carousel.js' | asset_url }}" defer></script>

<div class="{% if section.settings.carousel_desktop == false %}container mx-auto {% endif %} pb-12 transition-hide text-center md:text-left">
  <h2 class="container mx-auto px-4 pb-6 md:pb-12">{{ section.settings.heading }}</h2>

  <!-- GRID -->
  <div class="hidden {% if section.settings.carousel_desktop == false %}xl:flex px-4{% endif %}">
    <div class="grid w-full justify-center items-center xl:grid-rows-2 xl:grid-cols-4 gap-8">
      {% for block in section.blocks %}
        {% if block.settings.photo %}
          <a href="{{ block.settings.url }}" aria-label="{{ block.settings.name | escape }}">
            <div class="relative overflow-hidden h-108 rounded-3xl cursor-pointer flex items-center justify-center group">
              <img
                src="{{ block.settings.photo | image_url }}"
                alt="{{ block.settings.name | escape }}"
                width="1080"
                height="1920"
                loading="lazy"
                class="h-108 w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
              >
              <div class="absolute inset-0 bg-black/30 w-full flex items-center justify-center px-4">
                <h3 class="text-white text-2xl body-font leading-tight text-center w-full wrap-break-words line-clamp-2">
                  {{ block.settings.name }}
                </h3>
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- CAROUSEL -->
  <div class="container mx-auto px-4 pb-12 transition-hide {% if section.settings.carousel_desktop == false %}xl:hidden{% endif %}">
    <div class="f-carousel pb-6 md:pb-12" id="services-carousel">
      {% for block in section.blocks %}
        <div class="f-carousel__slide h-full rounded-4xl">
          <a href="{{ block.settings.url }}" aria-label="{{ block.settings.name | escape }}">
            {% if block.settings.photo %}
              <div class="relative overflow-hidden h-108 rounded-3xl cursor-pointer flex items-center justify-center group">
                <img
                  src="{{ block.settings.photo | image_url }}"
                  alt="{{ block.settings.name | escape }}"
                  width="1080"
                  height="1920"
                  loading="lazy"
                  class="h-108 w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
                >
                <div class="absolute inset-0 bg-black/30 w-full flex items-center justify-center px-4">
                  <h3 class="text-white body-font text-2xl leading-tight text-center w-full wrap-break-words line-clamp-2">
                    {{ block.settings.name }}
                  </h3>
                </div>
              </div>
            {% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Pakalpojumu sadaļa",
  "settings": [
    { "type": "text", "id": "heading", "label": "Virsraksts", "default": "Citi pakalpojumi" },
    { "type": "checkbox", "id": "carousel_desktop", "label": "Pakalpojumu karuselis uz desktopa", "default": true }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Pakalpojums",
      "settings": [
        { "type": "image_picker", "id": "photo", "label": "Attēls" },
        { "type": "richtext", "id": "name", "label": "Nosaukums" },
        { "type": "url", "id": "url", "label": "Saite" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pakalpojumu sadaļa",
      "settings": {
        "heading": "Citi pakalpojumi",
        "carousel_desktop": true
      },
      "blocks": [
        {
          "name": "Estētiskā medicīna",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/estetiska_medicina.jpg",
            "name": "<p>Estētiskā medicīna</p>",
            "url": "shopify://pages/estetiska-medicina-1"
          }
        },
        {
          "name": "Dermatoloģija",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/dermatologija.jpg",
            "name": "<p>Dermatoloģija</p>",
            "url": "shopify://pages/dermatologija"
          }
        },
        {
          "name": "Lāzer-dermatoloģija",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/lazerdermatologija.jpg",
            "name": "<p>Lāzer-dermatoloģija</p>",
            "url": "shopify://pages/lazerdermatologija"
          }
        },
        {
          "name": "Sejas procedūras",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/sejas_proceduras.jpg",
            "name": "<p>Sejas procedūras</p>",
            "url": "shopify://pages/proceduras-sejai"
          }
        },
        {
          "name": "Lāzerepilācija",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/lazerepilacija.jpg",
            "name": "<p>Lāzerepilācija</p>",
            "url": "shopify://pages/lazerepilacija"
          }
        },
        {
          "name": "Ķermeņa procedūras",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/kermena_proceduras.jpg",
            "name": "<p>Ķermeņa procedūras</p>",
            "url": "shopify://pages/kermena-proceduras"
          }
        },
        {
          "name": "Uztura speciālists",
          "type": "service",
          "settings": {
            "photo": "shopify://shop_images/uztura_specialists.jpg",
            "name": "<p>Uztura speciālists</p>",
            "url": "shopify://pages/uztura-specialists"
          }
        }
      ]
    }
  ]
}
{% endschema %}
