<script>
  document.addEventListener('DOMContentLoaded', function () {
    const carousel = Carousel(document.getElementById('teamCarousel'), {
      fill: true,
      infinite: false,
      plugins: [window.Dots],
    }).init();
  });
</script>

<div class="container mx-auto px-4 pb-12 transition-hide text-center md:text-left">
  <h2 class="pb-6 md:pb-12">{{ section.settings.heading }}</h2>
  <div class="f-carousel pb-6 md:pb-12" id="teamCarousel">
    {% for block in section.blocks %}
      <div class="f-carousel__slide h-full rounded-4xl ">
        {% if block.settings.photo %}
          <div class="overflow-hidden h-108 rounded-4xl">
            <img
              src="{{ block.settings.photo | image_url }}"
              alt="{{ block.settings.name | escape }}"
              width="1080"
              height="1920"
              loading="lazy"
              class="rounded-4xl h-108 object-top object-cover transition-transform duration-300 ease-in-out hover:scale-105"
            >
          </div>
        {% endif %}
        <div class="flex w-full px-2 justify-between">
          <div class="pt-4">
            <h3 class="text-left">{{ block.settings.name }}</h3>
            <div class="text-sm text-left">{{ block.settings.position }}</div>
          </div>
          <div class="flex justify-end items-end mb-1">
            {% render 'icon-arrow' %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Team Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Virsraksts",
      "default": "Komanda"
    }
  ],
  "blocks": [
    {
      "type": "member",
      "name": "Team Member",
      "settings": [
        {
          "type": "image_picker",
          "id": "photo",
          "label": "Foto"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Vārds"
        },
        {
          "type": "text",
          "id": "position",
          "label": "Amats"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Komanda",
      "blocks": [
        {
          "type": "member",
          "settings": {
            "name": "Jane Doe",
            "position": "Founder"
          }
        }
      ]
    }
  ]
}
{% endschema %}
